@model biuro.Oferta

@{
    ViewBag.Title = "Usuwanie oferty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuwanie oferty</h2>

<h3>Czy jesteś pewien, że chcesz usunąć tą ofertę?</h3>
<fieldset>
    <legend>Oferta</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cena)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cena)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataWyjazdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataWyjazdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataPowrotu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataPowrotu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Program.Opis)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Program.Opis)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PunktWyjazdu.Adres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PunktWyjazdu.Adres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Miejsce.Nazwa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Miejsce.Nazwa)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Powróć do listy", "Index")
    </p>
}
